<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="disabledTable.jspx" id="d1">
            <af:form id="f1">
                <af:panelSplitter orientation="vertical" splitterPosition="50" id="ps1">
                    <f:facet name="first">
                        <af:button text="Regresar" action="return" actionListener="#{pageFlowScope.disabledTableBean.retornarVista}" id="b1"/>
                    </f:facet>
                    <f:facet name="second">
                        <af:region value="#{bindings.taskflowtable1.regionModel}" id="r1"/>
                    </f:facet>
                </af:panelSplitter>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
